* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
}
.hidden {
  display: none !important;
}
.cta-imagen {
  border: none;
}
.btn-regresar {
  margin: 20px 50px;
  width: 40%;
  height: 45px;
  background-color: #009abf;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.user__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4F4B49;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  margin: 0px;
}
.user__box a {
  margin: 5px;
}
.user__box a img {
  width: 25px;
}
.user__box__usr {
  grid-area: user;
  text-align: left;
  padding: 10px 2px;
  font-size: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.title__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4F4B49;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  margin: 0px 15px;
}
.title__box a {
  margin: 5px;
}
.title__box a img {
  width: 25px;
}
.title__box__title {
  width: 100%;
  text-align: center;
  padding: 5px 2px;
  font-size: 1.5rem;
  margin: 0px auto;
}
.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F4B49;
}
.content-box__message {
  border: 2px solid #ffb600;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 5px;
  width: 90%;
}
.content-box__message__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}
.content-box__message__title img {
  width: 25px;
  margin: 10px;
}
.content-box__message__title p {
  font-size: 1.8rem;
  margin: 10px;
}
.content-box__message__text {
  font-size: 1.4rem;
  margin: 10px;
  padding: 5px;
}
#btn-cerrar-popup-bottom {
  background-color: #009abf;
  width: 90%;
  text-decoration: none;
  color: #ffffff;
}
.content {
  width: 100vw;
  overflow: hidden;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2px;
  font-size: 1.4rem;
  height: 100%;
}
.content__detailsBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  gap: 15px;
  border-radius: 5px;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content__detailsBox ul li {
  list-style: none;
  font-size: 1.4rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.content__detailsBox ul li strong {
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #009abf;
  padding: 2px;
  border-radius: 5px;
}
.content__menu-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  background-color: #009abf;
  border-radius: 10px 0 0 10px;
  width: 60%;
  padding: 20px;
  height: 260px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content__menu-principal__button button {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-size: 1rem;
  background: none;
  color: #ffffff;
}
.content__menu-principal__button button img {
  width: 35px;
  margin: 5px;
}
.content__buttons {
  margin: 20px auto;
}
.content__buttons__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
  margin: 30px auto;
}
.content__buttons__items-item {
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #009abf;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__buttons__items-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #009abf;
  font-size: 1.1rem;
}
.content__buttons__items-item a img {
  width: 35px;
  height: auto;
}
.content__wallpaper {
  display: none;
}
.content__message {
  text-align: center;
  color: #4F4B49;
  font-size: 2rem;
  font-weight: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 80px;
  border: 4px solid #ffb600;
  padding: 10px;
  border-radius: 10px;
  vertical-align: center;
  margin: 100px;
}
.content__talleres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px;
  gap: 20px;
}
.content__talleres_box {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 5px;
}
.content__talleres_box-name {
  font-size: 2rem;
  font-weight: 600;
  color: #ffb600;
  background-color: #4F4B49;
  border-radius: 10px 0 10px 0;
  padding: 10px;
}
.content__talleres_box-fecha {
  font-size: 1.4rem;
}
.content__talleres_box-precio {
  color: #009abf;
  font-weight: 800;
  font-size: 2rem;
}
.content__talleres_box-title {
  font-weight: 800;
}
.content__tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px;
  gap: 20px;
}
.content__tienda_box {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__tienda_box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #4F4B49;
  gap: 25px;
}
.content__tienda_box-form .item-total-list {
  border-top: 1px solid #4F4B49;
  padding: 10px 0;
  margin-top: 10px;
}
.content__tienda_box-form-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  gap: 5px;
}
.content__tienda_box-form-precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.content__tienda_box-form .txtCantidad {
  width: 45px;
}
.content__tienda_box-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4F4B49;
  font-size: 1.2rem;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content__tienda_box-form-title img {
  width: 70px;
}
.content__tienda_box-form-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.content__tienda_box-form-details-img {
  width: 75px;
}
.content__tienda_box-form-details-text {
  width: 100%;
}
.content__tienda_box-form-details-text ul {
  list-style: none;
}
.content__tienda_box-form-details-text ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__tienda_box-form-details-text ul li p {
  color: #4F4B49;
}
.content__tienda_box-form h2 {
  color: #009abf;
  text-align: center;
  border-bottom: 1px solid #009abf;
  width: 100%;
}
.content__tienda_box-form h4 {
  text-align: center;
  width: 100%;
  color: #4F4B49;
  background-color: #ffb600;
  margin: 20px 0;
  border-radius: 5px;
}
.content__tienda_box-form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.content__tienda_box-form-input-botones {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__tienda_box-form-input label {
  font-size: 1.4rem;
  text-align: left;
  color: #4F4B49;
}
.content__tienda_box-form-input input {
  width: 230px;
  height: 35px;
  padding: 5px;
}
.content__tienda_box-form-input button {
  width: 100%;
}
.content__tienda_box-img {
  width: 100%;
  padding: 10px;
}
.content__tienda_box-name {
  font-size: 2rem;
  font-weight: 600;
  color: #ffb600;
  background-color: #4F4B49;
  border-radius: 10px 0 10px 0;
  padding: 10px;
}
.content__tienda_box-fecha {
  font-size: 1.4rem;
}
.content__tienda_box-precio {
  color: #009abf;
  font-weight: 800;
  font-size: 2rem;
}
.content__tienda_box-title {
  font-weight: 800;
}
.content__list__mobile__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__list__mobile__section h3 {
  text-align: center;
  font-size: 1.6rem;
  color: #4F4B49;
  margin: 3px;
}
.content__list__mobile__section-table {
  border-collapse: collapse;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 10px;
}
.content__list__mobile__section-table thead {
  background-color: #ffb600;
  height: 30px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  color: #4F4B49;
  padding: 10px;
}
.content__list__mobile__section-table thead tr th {
  padding: 5px;
}
.content__list__mobile__section-table tbody {
  text-align: center;
  font-size: 1rem;
  padding: 10px;
}
.content__list__mobile__section-table tbody tr {
  height: 40px;
}
.content__list__mobile__section-table tbody tr td {
  border-top: 1px solid #4F4B49;
  height: 40px;
}
.content__list__desktop {
  display: none;
}
.content__list__desktop__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__list__desktop__section h3 {
  text-align: center;
  font-size: 1.6rem;
  color: #ffb600;
  margin: 30px;
}
.content__list__desktop__section-table {
  border-collapse: collapse;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 10px;
}
.content__list__desktop__section-table thead {
  background-color: #ffb600;
  height: 35px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: #4F4B49;
  padding: 10px;
}
.content__list__desktop__section-table thead tr th {
  padding: 5px;
}
.content__list__desktop__section-table tbody {
  text-align: center;
  font-size: 1.3rem;
  padding: 20px;
}
.content__list__desktop__section-table tbody tr {
  height: 40px;
}
.content__list__desktop__section-table tbody tr td {
  border-top: 1px solid #4F4B49;
  height: 40px;
}
.content__form {
  height: 100%;
  width: 95%;
  border-radius: 1em;
  padding: 0.5em 1.5em;
}
.content__form h3 {
  text-align: center;
  color: #009abf;
}
.content__form__taller {
  padding: 5px;
}
.content__form .input-observaciones {
  height: 75px;
  vertical-align: super;
}
.content__form__box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 5px;
  grid-auto-columns: 100%;
  margin: 10px;
}
.content__form__box-label {
  font-size: 1.4rem;
}
.content__form__box-input {
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.8em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content__form__box ::-webkit-input-placeholder {
  font-size: 1.2rem;
}
.content__form__box ::-moz-placeholder {
  font-size: 1.2rem;
}
.content__form__box :-ms-input-placeholder {
  font-size: 1.2rem;
}
.content__form__box ::-ms-input-placeholder {
  font-size: 1.2rem;
}
.content__form__box ::placeholder {
  font-size: 1.2rem;
}
.content__form__box__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}
.content__form__box-cta {
  font-family: inherit;
  background-color: #ffb600;
  color: #4F4B49;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 0.4em;
  cursor: pointer;
  font-weight: 600;
  margin: 10px 35px;
}
.content__form__box select {
  font-size: 1.4rem;
  margin: 0;
}
.content__form__box select option {
  font-size: 1.6rem;
}
.sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 145px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px;
  border-radius: 10px;
}
.sidebar-menu__buttons__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.sidebar-menu__buttons__items-item {
  list-style: none;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #009abf;
  border-radius: 5px;
  padding: 5px;
}
.sidebar-menu__buttons__items-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  text-align: center;
  color: #009abf;
  font-size: 1rem;
}
.sidebar-menu__buttons__items-item a img {
  width: 25px;
  height: auto;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  height: 100vh;
}
.overlay.active {
  visibility: visible;
}
.popup {
  background: #f8f8f8;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
  opacity: 0;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  max-height: 100%;
  overflow: auto;
}
.popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #BBBBBB;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  margin-top: 5px;
  margin-right: 20px;
}
.popup .btn-cerrar-popup img {
  width: 15px;
}
.popup .btn-cerrar-popup:hover {
  color: red;
}
.popup.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}
footer .footer__header {
  background-color: #009abf;
  width: 100%;
}
footer .footer__header__box {
  display: -ms-grid;
  display: grid;
  color: #ffffff;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
      grid-template-areas: "phone cellphone" "email email";
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: 'Lato', sans-serif;
  padding: 20px 10px;
  margin: 0 auto;
}
footer .footer__header__box__phone {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: phone;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header__box__phone p,
footer .footer__header__box__cellphone p,
footer .footer__header__box__email p {
  margin-bottom: 0;
}
footer .footer__header__box__cellphone {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cellphone;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header__box__email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__header-icon img {
  width: 30px;
  height: auto;
  margin: 0 10px;
}
footer .footer__box__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4F4B49;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__box__body-logo {
  width: 200px;
}
footer .footer__box__body-links {
  margin: 30px auto;
  text-align: center;
}
footer .footer__box__body-links h2 {
  font-weight: 600;
  font-size: 2rem;
}
footer .footer__box__body-links li {
  margin: 10px 0;
  list-style: none;
  text-align: center;
}
footer .footer__box__body-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.8rem;
}
footer .footer__box__body-address {
  text-align: center;
}
footer .footer__box__body-address img {
  width: 80px;
  margin: 20px auto;
}
footer .footer__box__body-address p {
  font-size: 1.8rem;
  width: 170px;
  text-align: center;
  margin: 5px auto;
  font-weight: 300;
}
footer .footer__box__body-schedule {
  margin: 40px auto;
  text-align: center;
}
footer .footer__box__body-schedule h2 {
  font-weight: 600;
  font-size: 2rem;
}
footer .footer__box__body-schedule-hours {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "semana horario-semana" "sabado horario-sabado" "domingo horario-domingo";
  font-size: 1.5rem;
}
footer .footer__box__body-schedule-hours p:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: semana;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: horario-semana;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-schedule-hours p:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sabado;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: horario-sabado;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-schedule-hours p:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: domingo;
  margin: 0 10px;
  text-align: right;
}
footer .footer__box__body-schedule-hours p:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: horario-domingo;
  margin: 0 10px;
  text-align: left;
}
footer .footer__box__body-socialmedia {
  text-align: center;
}
footer .footer__box__body-socialmedia #logoFooter {
  display: none;
}
footer .footer__box__body-socialmedia__icon img {
  width: 60px;
}
footer .footer__foot {
  background-color: #4F4B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  height: 81px;
  margin: 0;
}
footer .footer__foot p {
  margin: 0;
  color: #ffffff;
}
footer .footer__foot .divisor {
  display: none;
}
footer .footer__foot .rights p {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: #ffffff;
}
footer .footer__foot .link__jmc a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffff;
}
#txtExtracto {
  height: 100px;
}
#txtContenido {
  height: 200px;
}
