@import "globals.less";
@import "variables.less";

.content{
    max-width: 1110px;
    margin: 20px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    &__title{
        color: @color-text;
        border-bottom: 2px solid @color-primary;
        width: 300px;
        text-align: right;
        padding: 10px 2px;
        font-size: 2.5rem;
    }
}