@import "globals.less";
@import "variables.less";

.cta-imagen{
    border: none;    
}
.btn-regresar{
    margin: 20px 50px;
    width: 40%;
    height: 45px;
    background-color: @color-primary;
    color: @color-white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.user__box{
    width: 100%;
    display: flex;
    color: @color-text;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin: 0px;

    a{
        margin: 5px;
        img{
            width: 25px;
        }
    }
    &__usr{
        grid-area: user;
        text-align: left;
        padding: 10px 2px;
        font-size: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
.title__box{
    
    display: flex;
    color: @color-text;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin: 0px 15px;
    //border-bottom: 2px solid @color-primary;

    a{
     
        margin: 5px;
        img{
            width: 25px;
        }
    }

    &__title{
      
        width: 100%;
        text-align: center;
        padding: 5px 2px;
        font-size: 1.5rem;
        margin: 0px auto;
    }
}
.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: @color-text;
    &__message{
        border: 2px solid @color-secondary;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
        padding: 5px;
        width: 90%;
        &__title{
            display: flex;
            justify-content: flex-start;
            height: 40px;
            align-items: center;
            font-size: 1.8rem;
            img{
                width: 25px;
                margin: 10px;
            }
            p{
                font-size: 1.8rem;
                margin: 10px;

            }
        }
        &__text{
            font-size: 1.4rem;
            margin: 10px;
            padding: 5px;
        }
       
    }
}
#btn-cerrar-popup-bottom{
    background-color: @color-primary;
    width: 90%;
    text-decoration: none;
    color: @color-white;
}
.content{
    width: 100vw;
    overflow: hidden;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    font-size: 1.4rem;
    height: 100%;
    &__blog{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &_box{
            display: flex;
            flex-direction: column;
            width: 90%;
            overflow: hidden;
            margin: 20px auto;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            padding: 10px;
            &-title{
                color: @color-primary;
                margin: 10px auto;
                font-size: 1.4rem;
            }
            &-img{
                width: 100%;
                height: auto;
            }
            &-autor{
                font-size: 1.2rem;
                color: @color-text;
                margin: 5px;
                text-align: left;
                width: 90%;

            }
            &-fecha{
                font-size: 1rem;
                color: @color-text;
                margin: 0px;
                text-align: left;
                width: 90%;
            }
            &-extracto{
                color: @color-text;
                font-size: 1.3rem;
                border-top: 1px solid @color-text;
                width: 90%;
                margin: 10px auto;

            }
            &-link{
                text-decoration: none;
                background-color: @color-primary;
                color: @color-white;
                width: 100px;
                height: 20px;
                border-radius: 10px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
            }
        }
    }

    &__detailsBox{
        ul{
            // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 15px;
            border-radius: 5px;
            margin: 15px;
            justify-content: center;
            align-items: flex-start;

            li{
                list-style: none;
                font-size: 1.4rem;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                strong{
                    color: @color-white;
                    font-size: 1.5rem;
                    background-color: @color-primary;
                    padding: 2px;
                    border-radius: 5px;
                }

            }
        }
    }
    &__menu-principal{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        background-color: @color-primary;
        border-radius: 10px 0 0 10px;
        width: 60%;
        padding: 20px;
        height: 260px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       
        &__button{
            button{
                width: 45px;
                height: 45px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border: none;
                font-size: 1rem;
                background:none;
                color: @color-white;
                img{
                    width: 35px;
                    margin: 5px;
                }
            }
        }
    }
    &__buttons{
        margin: 20px auto;
        &__items{
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           grid-gap: 15px;
           margin: 30px auto;
          
           &-item{
            list-style: none;
            //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid @color-primary;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
           
            a{
                display: flex;
                flex-direction: column;
                text-align: center;
                text-decoration: none;
                align-items: center;
                justify-content: center;
                color: @color-primary;
                font-size: 1.1rem;

                
                img{
                    width: 35px;
                    height: auto;
                }
            }
           }
        }
    }
    &__wallpaper{
        display: none;
    }

    &__message{
        text-align: center;
        color: @color-text;
        font-size: 2rem;
        font-weight: 400;
        align-self: center;
        height: 80px;
        border: 4px solid @color-secondary;
        padding: 10px;
        border-radius: 10px;
        vertical-align: center;
        margin: 100px;
    }

    &__talleres{
        display: flex;
        flex-wrap: wrap;
        margin: 40px;
        gap: 20px;

        &_box{
            border-radius: 10px;
            width: 100%;
            padding: 10px;
            height: auto;
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            gap: 5px;
            &-name{
                font-size: 2rem;
                font-weight: 600;
                color: @color-secondary;
                background-color: @color-text;
                border-radius: 10px 0 10px 0;
                padding: 10px;
            }
            &-fecha{
                font-size: 1.4rem;
            }
            &-precio{
                color: @color-primary;
                font-weight: 800;
                font-size: 2rem;
            }
            &-title{
                font-weight: 800;
            }
        }
    }
    &__tienda{
        display: flex;
        flex-wrap: wrap;
        margin: 40px;
        gap: 20px;

        &_box{
            border-radius: 10px;
            width: 100%;
            padding: 10px;
            height: auto;
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            gap: 5px;
            justify-content: center;
            &-form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                //align-items: self-start;
                border-top: 1px solid @color-text;
                gap: 25px;
                .item-total-list{
                    border-top: 1px solid @color-text;
                    padding: 10px 0;
                    margin-top: 10px;


                }
                &-total{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: 2rem;
                    gap: 5px;
                }
                &-precio{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 5px;
                }

                .txtCantidad{
                    width: 45px;
                }
          
                &-title{
                    display: flex;
                    color: @color-text;
                    font-size: 1.2rem;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    margin: 5px;
                    flex-wrap: wrap;
                    img{
                        width: 70px;
                    }

                }
                &-details{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                   &-img{
                    width: 75px;
                   }
                   &-text{
                    width: 100%;
                    ul{

                        list-style: none;
                        li{
                            display: flex;
                            gap: 10px;
                            width: 100%;
                            justify-content: space-between;
                            p{
                                color: @color-text;
                            }
                        }
                    }
                   
                   }
                  
                }
                h2{
                    color: @color-primary;
                    text-align: center;
                    border-bottom: 1px solid @color-primary;
                    width: 100%;
                }
                h4{
                    text-align: center;
                    width: 100%;
                    color: @color-text;
                    background-color: @color-secondary;
                    margin: 20px 0;
                    border-radius: 5px;
                }

                &-input{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    gap: 10px;
                    &-botones{
                        flex-direction: column;
                    }
                    label{
                        font-size: 1.4rem;
                        text-align: left;
                        color: @color-text;
                    }                  
                    input{
                        width: 230px;
                        height: 35px;
                        padding: 5px;
                    }
                    button{
                        width: 100%;

                    }
                }


            }
            &-img{
                width: 100%;
                padding: 10px;
            }
            &-name{
                font-size: 2rem;
                font-weight: 600;
                color: @color-secondary;
                background-color: @color-text;
                border-radius: 10px 0 10px 0;
                padding: 10px;
            }
            &-fecha{
                font-size: 1.4rem;
            }
            &-precio{
                color: @color-primary;
                font-weight: 800;
                font-size: 2rem;
            }
            &-title{
                font-weight: 800;
            }
        }
    }
   
    &__list__mobile{
        &__section{
            width: 100%;
            display: flex;
            flex-direction: column;
            h3{
                text-align: center;
                font-size: 1.6rem;
                color: @color-text;
                margin: 3px;
            }
            &-table{
                border-collapse: collapse;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                margin: 10px;
                padding: 10px;
                thead{
                    background-color: @color-secondary;
                    height: 30px;
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: 800;
                    color: @color-text;
                    padding: 10px;

                    tr{
                        th{
                            padding: 5px;
                        }
                    }
                }
                tbody{
                    text-align: center;
                    font-size: 1rem;
                    padding: 10px;
                    tr{
                        
                        height: 40px;
                        td{
                            border-top: 1px solid @color-text;
                            height: 40px;

                        }
                    }
                }
            }
        }
    }
    &__list__desktop{
        display: none;
        &__section{
            width: 100%;
            display: flex;
            flex-direction: column;
            h3{
                text-align: center;
                font-size: 1.6rem;
                color: @color-secondary;
                margin: 30px;
            }
            &-table{
                border-collapse: collapse;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                margin: 10px;
                padding: 10px;
                thead{
                    background-color: @color-secondary;
                    height: 35px;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 800;
                    color: @color-text;
                    padding: 10px;

                    tr{
                        th{
                            padding: 5px;
                        }
                    }
                }
                tbody{
                    text-align: center;
                    font-size: 1.3rem;
                    padding: 20px;
                    tr{
                        
                        height: 40px;
                        td{
                            border-top: 1px solid @color-text;
                            height: 40px;

                        }
                    }
                }
            }
        }
    }
    &__form{
        h3{
            text-align: center;
            color: @color-primary;
        }
        &__taller{
            padding: 5px;
        }  
        .input-observaciones{
            height: 75px;
            vertical-align: super;
        }
        height: 100%;
        width: 95%;
        // margin: auto;
        border-radius: 1em;
        padding: .5em 1.5em;
        &__box{
            width: 100%;
            display: grid;
            gap: 5px;
            grid-auto-columns: 100%;
            margin: 10px;
            &-label{
                font-size: 1.4rem;
            }
            &-input{
                font-family: inherit;
                font-size: 1.4rem;
                padding: .8em;
                outline: none;
                border: none;
                border: 1px solid #bbb0b0;
                border-radius: 0.4em;
                display: flex;
                align-items: flex-start;
             
            }
            ::placeholder{
                font-size: 1.2rem;     
            }
            &__input--message{
                resize: none;
                padding: 1.8em 1em;
                margin-bottom: .5em;
            }
            &-cta{
                font-family: inherit;
                background-color: @color-secondary;
                color: @color-text;
                border: none;
                font-weight: @font-light;
                padding: .7em 0;
                border-radius: .4em;
                cursor: pointer;
                font-weight: @font-semibold;
                margin: 10px 35px;
    
            }
            select{
                font-size: 1.4rem;
                option{
                    font-size: 1.6rem;
                }
                margin: 0;
            }
        }
    }
}
.sidebar-menu{
    display: flex;
    width: 145px;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
    border-radius: 10px;
    &__buttons__items{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;

       &-item{
        list-style: none;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 1px solid @color-primary;
        border-radius: 5px;
        padding: 5px;
       
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-decoration: none;
            text-align: center;
            color: @color-primary;
            font-size: 1rem;

            img{
                width: 25px;
                height: auto;
            }
        }
       }
       
    }
}
.overlay{
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    height: 100vh;


}

.overlay.active{
    visibility: visible;
}

.popup{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 5px;
    margin: 2px;
    opacity: 0;
    transition: .5s ease all;
    transform: scale(0.7);
    max-height: 100%;
    overflow: auto;

}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
    margin-top: 5px;
    margin-right: 20px;
    img{
        width: 15px;
    }

}

.popup .btn-cerrar-popup:hover{
    color: red;
}

.popup.active{
    opacity: 1;
    transform: scale(1);
}
footer{
    display: flex;
    flex-direction: column;
    color: @color-white;
    .footer__header{
        background-color: @color-primary;
        width: 100%;
        &__box{
            display: grid;
            color: @color-white;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            grid-template-areas: "phone cellphone"
                                "email email";
            font-size: @font-size-md;
            line-height: 2rem;
            font-family: @font-family;
            padding: 20px 10px;
            margin: 0 auto;
            &__phone{
                grid-area: phone;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            &__phone p,
            &__cellphone p,
            &__email p{
                margin-bottom: 0;
            }

            &__cellphone{
                grid-area: cellphone;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
            &__email{
                grid-area: email;
                display: flex;
                justify-content: flex-start;
                padding: 10px 0px;
                align-items: center;
            }
        }
        
      
        &-icon img{
            width: 30px;
            height: auto;
            margin: 0 10px;
        }

    }
    .footer__box{
        &__body{
            display: flex;
            flex-direction: column;
            background-color: @color-text;
            padding: 30px;
            align-items: center;
            &-logo{
                width: 200px;
            }
            &-links{
                margin: 30px auto;
                text-align: center;

                h2{
                    font-weight: @font-semibold;
                    font-size: 2rem;
                }
                li {
                    margin: 10px 0;
                    list-style: none;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: @color-white;
                        font-weight: @font-extralight;
                        font-size: @font-size-lg;
                        }
                    }
                }
                &-address{
                    text-align: center;
                    img{
                        width: 80px;
                        margin: 20px auto;
                    }
                    p{
                        font-size: @font-size-lg;
                        width: 170px;
                        text-align: center;
                        margin: 5px auto;
                        font-weight: @font-light;
                    }
        
                }
                &-schedule{
                    margin: 40px auto;
                    text-align: center;
                    h2{
                        font-weight: @font-semibold;
                        font-size: 2rem;
                    }
                    &-hours{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr;
                        grid-template-areas: "semana horario-semana"
                                             "sabado horario-sabado"
                                             "domingo horario-domingo";
                        font-size: 1.5rem;
                        p:nth-child(1){
                            grid-area: semana;
                            margin: 0 10px;
                            text-align: right;
                        }
                        p:nth-child(2){
                            grid-area: horario-semana;
                            margin: 0 10px;
                            text-align: left;
                        }
                        p:nth-child(3){
                            grid-area: sabado;
                            margin: 0 10px;
                            text-align: right;
                        }
                        p:nth-child(4){
                            grid-area: horario-sabado;
                            margin: 0 10px;
                            text-align: left;
                        }
                        p:nth-child(5){
                            grid-area: domingo;
                            margin: 0 10px;
                            text-align: right;
                        }
                        p:nth-child(6){
                            grid-area: horario-domingo;
                            margin: 0 10px;
                            text-align: left;
                        }
                    }
                }
                &-socialmedia{
                    text-align: center;
                    #logoFooter{
                        display: none;
                    }
                    &__icon{
                        img{
                            width: 60px; 
                         }
                    }
                  
                }
            
        }
    }   
    .footer__foot{
        background-color: @color-text;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: @color-white;
        height: 81px;
        margin: 0;
        p{
            margin: 0;
            color: @color-white;

        }
        .divisor{
            display: none;
        }
        .rights{
            
            p{
                font-size: @font-size-md;
                font-weight: @font-regular;
                text-align: center;
                margin: 0;
                color: @color-white;

               
            }
        }
        .link__jmc{
            a{
                font-size: @font-size-md;
                text-decoration: none;
                color: @color-white;
           
            }
        }
    }

}
#txtExtracto{
    height: 100px;
}
#txtContenido{
    height: 200px;
}